In [1]:
# LOOPS in python (for loop and while loop),

In [ ]:
#Range function and break and contineu statements

In [2]:
# Loops in python-- if want to execute piece of code more than 1 times or specified no. of types

print(f'2 X 1 = {2*1}')
print(f'2 X 2 = {2*2}')
print(f'2 X 3 = {2*3}')
print(f'2 X 4 = {2*4}')
print(f'2 X 5 = {2*5}')
print(f'2 X 6 = {2*6}')
print(f'2 X 7 = {2*7}')
print(f'2 X 8 = {2*8}')
print(f'2 X 9 = {2*9}')
print(f'2 X 10 = {2*10}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [ ]:
# syntax

for var in 'iterable or sequence or collection':
    code1
    code2
    code3

In [6]:
#print(dir(int))
#print(dir(str))
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [7]:
for var in [1,2,3,4,5,6,7,8,9,10]:
    print(var)

1
2
3
4
5
6
7
8
9
10

In [9]:
table_num=int(input("Entet the number for which you want to write the table:"))

for var in [1,2,3,4,5,6,7,8,9,10]:
    print(f'{table_num} X {var} = {table_num*var}')

Entet the number for which you want to write the table: 7

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [ ]:
# range function --- it is used to create sequence of integers
# range function return the range object -genrator

# Syntax
range(start,stop, step)

default start -->0
default step-->1

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
for i in range(3,6):
    print(i)

3
4
5

In [13]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [15]:
# range will create a sequence of integers which will start from "start" and end at "stop-1" 
# where the difference betweem two concecative number will be equlivalent step size

# default step size is 1]

In [19]:
#print(list(range(1,11)))
#print(list(range(1,11,-1)))
print(list(range(10,-10,-2)))

10  -10   -2

10 8 6 4 2 0 -2 -4 -6 -8

[10, 8, 6, 4, 2, 0, -2, -4, -6, -8]

In [22]:
my_str='This is python class'
print(list(range(0,len(my_str))))

for i in range(0,len(my_str)):
    print(list(my_str[i]))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
['T']
['h']
['i']
['s']
[' ']
['i']
['s']
[' ']
['p']
['y']
['t']
['h']
['o']
['n']
[' ']
['c']
['l']
['a']
['s']
['s']

In [24]:
# wap which print all the number which are divisible by 5 and 7 both  in range from 1000 to 3000

for i in range(1000,3001,1):
    if (i%5==0) and (i%7==0):
        print(i)

1015
1050
1085
1120
1155
1190
1225
1260
1295
1330
1365
1400
1435
1470
1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695
2730
2765
2800
2835
2870
2905
2940
2975

In [25]:
#p
#y
#t
#h
#o
#n

for var in 'python':
    print(var)

p
y
t
h
o
n

In [27]:
#p
#yy
#ttt
#hhhh
#ooooo
#nnnnnn

my_str='python'

for var in range(0,len(my_str)):
    print(my_str[var]*(var+1))

p
yy
ttt
hhhh
ooooo
nnnnnn

In [30]:
#n
#oo
#hhh
#tttt
#yyyyy
#pppppp

my_str='python'
for var in range(-1,-len(my_str)-1,-1):
    print(my_str[var]*(-var))

n
oo
hhh
tttt
yyyyy
pppppp

In [31]:
print(list(range(-1, -len(my_str)-1,-1)))

[-1, -2, -3, -4, -5, -6]

In [ ]:
# for loop we use for finite loop

In [ ]:
# While loop

# initialization
# condition/ check
# increment/decrement

# syntax
# initialization
# while condition:
# code 
# code
# code
# increment/decrement

In [34]:
table_num=int(input("Entet the number for which you want to write the table:"))
mul_fac=1
while mul_fac<=10:
    print(f'{table_num} X {mul_fac} = {table_num*mul_fac}')
    mul_fac=mul_fac+1

Entet the number for which you want to write the table: 9

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

In [35]:
# wap which print all the number which are divisible by 5 and 7 both  in range from 1000 to 3000

start_val=1000
while start_val<=3000:
    if (start_val%5==0) and (start_val%7==0):
        print(start_val)
    start_val+=1

1015
1050
1085
1120
1155
1190
1225
1260
1295
1330
1365
1400
1435
1470
1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695
2730
2765
2800
2835
2870
2905
2940
2975

In [36]:
my_str='This is python class'
r= range(len(my_str))
i=0
while i<len(r):
    print(my_str[i])
    i+=1

T
h
i
s

i
s

p
y
t
h
o
n

c
l
a
s
s

In [38]:
# Trasfer statement  break and continue

# if any item price is more than 500 then stop the execution and calculate the bill till there
list_price=[10,20,30,100, 900, 60, 40, 30, 500, 700, 89, 98]


total_bill=0.0
for price in list_price:
    if price>500:
        break
    else:
        total_bill+=price
print(total_bill)

160.0

In [39]:
# if any item more than 500 then skip the execution and calculate the 
# total bill excluding the price which is above 500
list_price=[10,20,30,100, 900, 60, 40, 30, 500, 700, 89, 98]


total_bill=0.0
for price in list_price:
    if price>500:
        continue
    else:
        total_bill+=price
print(total_bill)

977.0