In [ ]:
# what is set and frozen set
# Hashable and unhashable type
# set operation

In [1]:
# Set 
# collection, iterable 
# it is a collection of unique elements and is not sequence
# mutable
# A set can have only hashable objects as its elements

# frozen set
#A collection of unique elements and is not sequnce
#immutalbe

s={1,2,3,4,5,5,5,5}
print(s)

{1, 2, 3, 4, 5}

In [ ]:
# hasable type
a type of whose values does not change- can be used as 
dictinory keys
inside a set

eg: (hashable)
int 
float
string
tuple
etc

hashable any object that return a hash value, 
immuatble object 

unhashable any object that does not retunr value 
mutalbe object

In [6]:
#print(hash(9090))
#print(hash('python'))
#print(hash[1,2,3])
print(hash((1,2,3)))

529344067295497451

In [7]:
# any value kept inside {} seprated by comma
# my_set=set()
#eg

my_set={'python','java','numpy','pandas',10,10.20}
print(my_set,type(my_set))

{10.2, 'python', 'java', 10, 'numpy', 'pandas'} <class 'set'>

In [8]:
# set support the membership opeatior
print('python' in my_set)

True

In [16]:
# set is iterable 
# from list
#set([10,10.20,10+20j,'python',(1,2,3)])

#from tuple
#set((10,10.20,10+20j,'python',(1,2,3)))

# from another set
#set({(1, 2, 3), (10+20j), 10, 10.2, 'python'})

#from a dictionory
#set({10:100,10.20:20.30,10+20j:'Hello','python':[1,2,3],(1,2,3):{1:100}})
#when we convert dictinory into set, only keys come into set, values are ignored

# taking a set as a input from the user
#my_set=eval(input("Enter a set:"))
#print(my_set,type(set))

# set comprehension
#my_set= {expr for loop [if condn]}\

#only even number from 1 to 11 output as set
my_set= {ele for ele in range(1,11) if ele%2==0}
print(my_set,type(my_set))

{2, 4, 6, 8, 10} <class 'set'>

In [17]:
# set methods
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [18]:
# 'add', 'clear', 'copy','update'
my_set={'abhishek@gmail.com',
        'rahul@yahoo.com',
        'krishna@yahoo.com'
        'neha@tcs.com',
        'anamika@hotmail.com',
        'aswath@rediffmail.com',
        'somya@gmail.com'}
print(my_set)

{'somya@gmail.com', 'krishna@yahoo.comneha@tcs.com', 'aswath@rediffmail.com', 'abhishek@gmail.com', 'anamika@hotmail.com', 'rahul@yahoo.com'}

In [23]:
# add
# to add single element in set
# set.add(element)
#my_set.add('sahil@gmail.com')
#print(my_set)

#my_set.add('sahi@gmail.com','abhi@gmail.com')   #error
#print(my_set)

#my_set.add(['sahil@gmail.com','abhi@gmail.com'])
#print(my_set)

my_set.add(('sahil@gmail.com','abhi@gmail.com'))
print(my_set)

{'somya@gmail.com', 'sahil@gmail.com', 'krishna@yahoo.comneha@tcs.com', 'aswath@rediffmail.com', 'abhishek@gmail.com', 'anamika@hotmail.com', ('sahil@gmail.com', 'abhi@gmail.com'), 'rahul@yahoo.com'}

In [25]:
# clear
#remove all the element from the set and return empty set
my_set={'abhishek@gmail.com',
        'rahul@yahoo.com',
        'krishna@yahoo.com'
        'neha@tcs.com',
        'anamika@hotmail.com',
        'aswath@rediffmail.com',
        'somya@gmail.com'}
#print(my_set)
#set_name.clear()
my_set.clear()
print(my_set)

set()

In [29]:
# copy
my_set={'abhishek@gmail.com',
        'rahul@yahoo.com',
        'krishna@yahoo.com'
        'neha@tcs.com',
        'anamika@hotmail.com',
        'aswath@rediffmail.com',
        'somya@gmail.com'}
print(my_set)
new_set=my_set.copy()
print(new_set)
print(id(new_set))
print(id(my_set))

{'somya@gmail.com', 'krishna@yahoo.comneha@tcs.com', 'aswath@rediffmail.com', 'abhishek@gmail.com', 'anamika@hotmail.com', 'rahul@yahoo.com'}
{'somya@gmail.com', 'krishna@yahoo.comneha@tcs.com', 'aswath@rediffmail.com', 'abhishek@gmail.com', 'anamika@hotmail.com', 'rahul@yahoo.com'}
2846159794944
2846153375104

In [30]:
#'pop'
# remove any random element 
# set_name.pop()
my_set={'abhishek@gmail.com',
        'rahul@yahoo.com',
        'krishna@yahoo.com'
        'neha@tcs.com',
        'anamika@hotmail.com',
        'aswath@rediffmail.com',
        'somya@gmail.com'}
print(my_set)

my_set.pop()
print(my_set)

#Raises KeyError if the set is empty.

{'somya@gmail.com', 'krishna@yahoo.comneha@tcs.com', 'aswath@rediffmail.com', 'abhishek@gmail.com', 'anamika@hotmail.com', 'rahul@yahoo.com'}
{'krishna@yahoo.comneha@tcs.com', 'aswath@rediffmail.com', 'abhishek@gmail.com', 'anamika@hotmail.com', 'rahul@yahoo.com'}

In [40]:
# 'remove'
#remove() deletes the given element from the set-  if it exists
my_set={'abhishek@gmail.com',
        'rahul@yahoo.com',
        'krishna@yahoo.com',
        'neha@tcs.com',
        'anamika@hotmail.com',
        'aswath@rediffmail.com',
        'somya@gmail.com'}
print(my_set)
my_set.remove('neha@tcs.com')
print(my_set)

{'somya@gmail.com', 'neha@tcs.com', 'anamika@hotmail.com', 'aswath@rediffmail.com', 'krishna@yahoo.com', 'abhishek@gmail.com', 'rahul@yahoo.com'}
{'somya@gmail.com', 'anamika@hotmail.com', 'aswath@rediffmail.com', 'krishna@yahoo.com', 'abhishek@gmail.com', 'rahul@yahoo.com'}

In [55]:
#'isdisjoint', 'issubset', 'issuperset', symmetric_difference',  'symmetric_difference_update'

my_set1={'abhishek@gmail.com',
        'rahul@yahoo.com',
        'krishna@yahoo.com',
        'neha@tcs.com',
        'anamika@hotmail.com',
        'aswath@rediffmail.com',
        'somya@gmail.com'}

my_set2={'George@gmail.com',
         'rahul@kavya.com',
         'jacob@yahoo.com',
         'aswath@rediffmail.com',
         'shweta@gmail.com',
         'rahul@yahoo.com'}

my_set3={'George@gmail.com',
         'rahul@kavya.com',
         'Amit@yahoo.com',
         'ravi@tcs.com',
         'jagdeesh@hotmail.com',
         'anshu@rediffmail.com',
         'shweta@gmail.com',
         'rahul@yahoo.com'}

In [43]:
# union 
# my_set1.union(my_set2).union(my_set3)
#union combine elements of two or more sets without duplicates
#A U B
#my_set1.union(my_set2).union(my_set3)
my_set1.union(my_set2,my_set3)

{'Amit@yahoo.com',
 'George@gmail.com',
 'abhishek@gmail.com',
 'anamika@hotmail.com',
 'anshu@rediffmail.com',
 'aswath@rediffmail.com',
 'jacob@yahoo.com',
 'jagdeesh@hotmail.com',
 'krishna@yahoo.com',
 'neha@tcs.com',
 'rahul@kavya.com',
 'rahul@yahoo.com',
 'ravi@tcs.com',
 'shweta@gmail.com',
 'somya@gmail.com'}

In [47]:
# intersection 
# intersction means common elements in two sets
#A âˆ© B
print(my_set1.intersection(my_set2,my_set3))
print(my_set1)
print(my_set2)
print(my_set3)

{'rahul@yahoo.com'}
{'somya@gmail.com', 'neha@tcs.com', 'anamika@hotmail.com', 'aswath@rediffmail.com', 'krishna@yahoo.com', 'abhishek@gmail.com', 'rahul@yahoo.com'}
{'rahul@kavya.com', 'shweta@gmail.com', 'George@gmail.com', 'aswath@rediffmail.com', 'jacob@yahoo.com', 'rahul@yahoo.com'}
{'Amit@yahoo.com', 'rahul@kavya.com', 'shweta@gmail.com', 'George@gmail.com', 'anshu@rediffmail.com', 'rahul@yahoo.com', 'ravi@tcs.com', 'jagdeesh@hotmail.com'}

In [49]:
# intersection_update
# keeping the common element and updates orignal set
#so instead of returning new set it modifies existing one

print(my_set2.intersection_update(my_set2,my_set1,my_set3))
print(my_set1)
print(my_set2)
print(my_set3)

None
{'somya@gmail.com', 'neha@tcs.com', 'anamika@hotmail.com', 'aswath@rediffmail.com', 'krishna@yahoo.com', 'abhishek@gmail.com', 'rahul@yahoo.com'}
{'rahul@yahoo.com'}
{'Amit@yahoo.com', 'rahul@kavya.com', 'shweta@gmail.com', 'George@gmail.com', 'anshu@rediffmail.com', 'rahul@yahoo.com', 'ravi@tcs.com', 'jagdeesh@hotmail.com'}

In [54]:
# 'difference', 'difference_update',

#difference 
#return the element that are
#in set A but not in set b
# it does not change orignal set-- it retunr new set

print(my_set1.difference(my_set2))
print(my_set1)
print(my_set2)

{'abhishek@gmail.com', 'krishna@yahoo.com', 'somya@gmail.com', 'neha@tcs.com', 'anamika@hotmail.com'}
{'somya@gmail.com', 'neha@tcs.com', 'anamika@hotmail.com', 'aswath@rediffmail.com', 'krishna@yahoo.com', 'abhishek@gmail.com', 'rahul@yahoo.com'}
{'rahul@kavya.com', 'shweta@gmail.com', 'George@gmail.com', 'aswath@rediffmail.com', 'jacob@yahoo.com', 'rahul@yahoo.com'}

In [56]:
# diffeence update
#work same like difference but
#modiefies orignal set
#remove the element that also exits in other set
print(my_set1.difference_update(my_set2))
print(my_set1)
print(my_set2)

None
{'somya@gmail.com', 'neha@tcs.com', 'anamika@hotmail.com', 'krishna@yahoo.com', 'abhishek@gmail.com'}
{'rahul@kavya.com', 'shweta@gmail.com', 'George@gmail.com', 'aswath@rediffmail.com', 'jacob@yahoo.com', 'rahul@yahoo.com'}

In [57]:
my_set1={'abhishek@gmail.com',
        'rahul@yahoo.com',
        'krishna@yahoo.com',
        'neha@tcs.com',
        'anamika@hotmail.com',
        'aswath@rediffmail.com',
        'somya@gmail.com'}

my_set2={'George@gmail.com',
         'rahul@kavya.com',
         'jacob@yahoo.com',
         'aswath@rediffmail.com',
         'shweta@gmail.com',
         'rahul@yahoo.com'}

my_set3={'George@gmail.com',
         'rahul@kavya.com',
         'Amit@yahoo.com',
         'ravi@tcs.com',
         'jagdeesh@hotmail.com',
         'anshu@rediffmail.com',
         'shweta@gmail.com',
         'rahul@yahoo.com'}

In [58]:
my_set1.remove('Somya@yahoo.com')

KeyError: 'Somya@yahoo.com'

In [59]:
#'discard', 
print(my_set1.discard('Somya@yahoo.com'))

#Remove an element from a set if it is a member.
#Unlike set.remove(), the discard() method does not raise
#an exception when an element is missing from the set.

None

In [62]:
#'isdisjoint', 'issubset', 'issuperset', symmetric_difference',  'symmetric_difference_update'

# isdisjoint
# checks weather two sets have no common elements
#returs true if nothing has common
#returns false if one element matches

a={1,2,3}
b={4,5,6}
print(a.isdisjoint(b))

True

In [64]:
# issubset
#checks weather all the elements of set a exist inside set b
a={1,2,4}
b={1,2,3}
print(a.issubset(b))

False

In [65]:
# issuperset
#opposite of subset
#does set A contains everything from set b?
a={1,2,3,4}
b={2,3}
print(a.issuperset(b))

True

In [66]:
# symmetric difference 
# return all the element which are available in both sets but discard the common elements
my_set1={'abhishek@gmail.com',
        'rahul@yahoo.com',
        'krishna@yahoo.com',
        'neha@tcs.com',
        'anamika@hotmail.com',
        'aswath@rediffmail.com',
        'somya@gmail.com'}

my_set2={'George@gmail.com',
         'rahul@kavya.com',
         'jacob@yahoo.com',
         'aswath@rediffmail.com',
         'shweta@gmail.com',
         'rahul@yahoo.com'}

my_set1.symmetric_difference(my_set2)

{'George@gmail.com',
 'abhishek@gmail.com',
 'anamika@hotmail.com',
 'jacob@yahoo.com',
 'krishna@yahoo.com',
 'neha@tcs.com',
 'rahul@kavya.com',
 'shweta@gmail.com',
 'somya@gmail.com'}